@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@plugin "daisyui" {
    themes: light ---default;
}
@plugin "daisyui/theme" {
    name: "light";
    color-scheme: light;
    default: true;

    --color-primary: #374151;
    --color-primary-content: #f1f5f9;

    --color-secondary: #4e7c13;
    --color-secondary-content: #f1f5f9;

    --color-accent: #3358d3;
    --color-accent-content: #f1f5f9;

    --color-info: #f161cb;
    --color-info-content: #242f39;

    --color-warning: #ffc107;
    --color-warning-content: #242f39;

    --color-success: #33d37b;
    --color-success-content: #242f39;

    --color-error: #ef4444;
    --color-error-content: #f1f5f9;

    --color-neutral: #191e24;
    --color-neutral-content: #cbd1de;
}

@plugin "daisyui/theme" {
    name: "dark";
    color-scheme: dark;

    --color-primary: #374151;
    --color-primary-content: #f1f5f9;

    --color-secondary: #4e7c13;
    --color-secondary-content: #cbd1de;

    --color-accent: #3358d3;
    --color-accent-content: #cbd1de;

    --color-neutral: #191e24;
    --color-neutral-content: #cbd1de;

    --color-info: #f161cb;
    --color-info-content: #242f39;

    --color-success: #33d37b;
    --color-success-content: #242f39;

    --color-warning: #ffc107;
    --color-warning-content: #242f39;

    --color-error: #ef4444;
    --color-error-content: #242f39;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Fondo base del calendario */
.rbc-month-view,
.rbc-time-view {
    background-color: hsl(var(--b1)) !important; /* DaisyUI base-100 */
}

/* Días fuera del mes actual */
.rbc-off-range-bg {
    background-color: hsl(var(--b2)) !important; /* DaisyUI base-200 */
}
/* Quitar fondo blanco/gris de las celdas */
.rbc-day-bg,
.rbc-time-slot,
.rbc-row-bg {
    background-color: transparent !important;
}

/* El contenedor del modal de eventos (cuando hay muchos en el mismo día) */
.rbc-overlay {
    background-color: transparent !important; /* fondo transparente */
    max-height: 200px; /* o lo que quieras */
    overflow-y: auto; /* mini scroll */
    box-shadow: none !important; /* quitar sombra blanca */
    border: none !important; /* sin borde */
    padding: 0.25rem; /* opcional, espacio interno */
    z-index: 50; /* asegurar que quede encima */
}

/* La cabecera del modal (día/hora que muestra) */
.rbc-overlay-header {
    background-color: hsl(var(--b1)) !important; /* DaisyUI base-100 , esta b1*/
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: hsl(var(--bc));
}
